<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>guelcos Trade Fair App</title>

    <link rel="manifest" href="manifest.json">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above    -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script type="text/javascript" src="js/ng-cordova.min.js"></script> <!-- trocar pelo ng-cordova.min.js para reduzir o tamanho final do ipa -->
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <script type="text/javascript" src="js/jspdf.min.js"> //jspdf.min.js</script>
    <!-- script type="text/javascript" src="js/plugins/cordova-plugin-file/www/file.js"></script --><!-- achar o lugar deste cara -->

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controller/pdf.js"></script>

  </head>
  <body ng-app="starter" data-ng-controller="pdfCtrl">
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <p align="left"><img src="img/simbolo.png" width="30px" height="30px" alt="X"></p><h1 class="title"> Guelcos Trade Fair App </h1>
      </ion-header-bar>

      <ion-content>
        <form name="data.form" id="form">
            <p align="left" class="user"><input id="user" pattern="[a-zA-Z0-9]+" placeholder="digite seu usuario -IMPORTANTE: não use espacos ou ascentos" ng-model="data.user" type="text"></p>
        <h3>Ficha do fabricante</h3>
         <ion-list>
           <ion-item>
             <button class="button button-energized" id="foto1" ng-click="foto(1)" ng-model="data.foto1"><i class="icon icon ion-ios-eye"></i> + cartao</button>
             <img ng-src="{{src[1]}}" width="350px" alt="preview">
             &nbsp;&nbsp;&nbsp;&nbsp;
             <button class="button button-energized" id="foto2" ng-click="foto(2)" ng-model="data.foto2"><i class="icon icon ion-ios-eye"></i> 2o cartao </button>
              <img ng-src="{{src[2]}}" width="350px" alt="preview">
           </ion-item>
             <ion-item>
               <input id="nome" placeholder="Apelido do Fabricante, -IMPORTANTE: não use espacos ou ascentos" pattern="[a-zA-Z0-9]+" type="text" ng-model="data.apelido" width="200" autofocus>
             </ion-item>
             <ion-item>
               <input id="wechat" placeholder="wechat id / observacoes" ng-model="data.wechat" type="text" onfocus="this.value=&apos;&apos;;">
             </ion-item>
             <ion-item>
               <input id="tiprod" placeholder="Tipo de produto" ng-model="data.tiprod" type="text">
             </ion-item>
             <ion-item>
               <input id="fob" placeholder="icoterms: termos internacionais de comercio utilizado, normalmente FOB" ng-model="data.fob" type="text">
             </ion-item>
             <ion-item>
               <input id="origem" placeholder="porto de origem" ng-model="data.origem" type="text">
             </ion-item>
             <ion-item>
               <input id="destino" placeholder="porto de destino" ng-model="data.destino" type="text">
             </ion-item>
              <h3>Ficha de produto, fabricante: {{ data.apelido }}</h3>
             <ion-item>
              <input id="produto" pattern="[a-zA-Z0-9]+" placeholder="modelo / descricao -IMPORTANTE: não use espacos ou ascentos" ng-model="produto.id" type="text">
             </ion-item>
             <ion-item>
               <input id="moq" placeholder="moq - quantidade mínima vendida deste produto" ng-model="produto.moq" type="text">
             </ion-item>
             <ion-item>
               <input id="preco" placeholder="preco deste produto" ng-model="produto.preco" type="text">
             </ion-item>
             <ion-item>
               <input id="detalhes" placeholder="inclua os detalhes, cor, embalagem, voltagem, tamanho do aro, etc..." ng-model="produto.detalhes" type="text">
             </ion-item>
             <ion-item>
              <input size="50" maxlength="50" id="obs" placeholder="obs (60 chars)" ng-model="produto.obs" type="text">
              <input size="60" maxlength="60" id="obs2" background-color="gray" placeholder="recomendacoes (60 chars)" ng-model="produto.obs2" type="text">
              <input size="60" maxlength="60" id="obs3" placeholder="o contato da fabrica fala bem ingles? (60 chars)" ng-model="produto.obs3" type="text">
             </ion-item>
             <ion-item>
               <input id="hscode" placeholder="codigo unico do produto: hscode" ng-model="produto.hscode" type="text">
             </ion-item>
             <ion-item>
               <input id="inmetro" placeholder="necessita inmetro? sim/nao" ng-model="produto.inmetro" type="text">
             </ion-item>
             <ion-item>   <p> Inclua algumas imagens deste produto </p>   </ion-item>
             <ion-item>
               <button class="button button-energized" id="prod1" ng-click="foto(3)" ng-model="data.foto3"><i class="icon icon ion-ios-eye"></i>&nbsp;&nbsp;&nbsp;&nbsp; 1 &nbsp;&nbsp;&nbsp;&nbsp;</button>
               <img ng-src="{{src[3]}}" width="250px" alt="preview">
               &nbsp;&nbsp;
               <button class="button button-energized" id="prod2" ng-click="foto(4)" ng-model="data.foto4"><i class="icon icon ion-ios-eye"></i>&nbsp;&nbsp;&nbsp;&nbsp; 2 &nbsp;&nbsp;&nbsp;&nbsp;</button>
                <img ng-src="{{src[4]}}" width="250px" alt="preview">
             </ion-item>
             <ion-item>
               <button class="button button-energized" id="prod3" ng-click="foto(5)" ng-model="data.foto5"><i class="icon icon ion-ios-eye"></i>&nbsp;&nbsp;&nbsp;&nbsp; 3 &nbsp;&nbsp;&nbsp;&nbsp;</button>
               <img ng-src="{{src[5]}}" width="250px" alt="preview">
               &nbsp;&nbsp;
               <button class="button button-energized" id="prod4" ng-click="foto(6)" ng-model="data.foto6"><i class="icon icon ion-ios-eye"></i>&nbsp;&nbsp;&nbsp;&nbsp; 4 &nbsp;&nbsp;&nbsp;&nbsp;</button>
                <img ng-src="{{src[6]}}" width="250px" alt="preview">
             </ion-item>

           </ion-list>
           <p></p>
               <div align="center"> <!-- padding -->
                 <p><button class="button button-full button-energized" block="" ng-click="file()" id="enviar" ng-model="btn"><i class="icon ion-compose"></i> i n c l u i r </button></p>
                   <!-- button block id="enviar">criar pdf</button -->
               <!--button block="" id="limpar">Limpar</button -->
               <!-- button block="" id="remover" onclick="this.reset();">Limpar</button -->
             </div>
           </form>
          <pre>






          </pre>
            <div>
              <p> Fila de envio:</p>
              <div ng-repeat="item in storage">
              <button class="button button-full" block="" ng-click="data.showPdf($storage.item)" id="enviar" ng-model="btn"><i class="icon ion-compose"></i> {{$index + 1}}. {{item}} </button>
              </div>
              <!--ul>
                <li ng-repeat="item in storage"><a href="#" ng-click="data.showPdf($storage.item)">{{item}} </a></li><br>
              </ul -->
            <!-- p>livre no dispositivo: {{ free }} mb</p -->
            <ul class="pull-right">
              <li> v0.127 © 2017 Guelcos co</li>
            </ul>
            <!-- ion-icon name="ion-social-dropbox-outline"></ion-icon -->
            <!-- div id="abc">, este projeto é mantido colaborativamente em: http://github.com/andrebalen/gpdf</div -->
            <!-- p align="center"><ion-spinner name="ios"></ion-spinner> trying to contact server -->
            <!-- other names for spinner: ios ,ios-small, bubbles, circles, crescent, dots -->
            </div>

        </ion-content>
    </ion-pane>
  </body>
</html>
